/*Google font*/
body {
	font-family: 'Open Sans', sans-serif;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav {
/*	shorthand property*/
    padding: 0.8rem;
/*	padding-top:08;
	padding-bottom: ;
	padding-left: ;
	padding-right: ; */
	margin-bottom: 5rem;
	border-bottom: 1px solid gray;
}
nav .nav, nav .nav-logo{
	margin: 0.5rem;
	display: inline;
}
#intro {
	padding-left:10%;
	padding-right:10%;
	padding-top:3rem;
	padding-bottom:3rem;
	text-align: center;
}

.header {
	text-align: center;
}
#intro h2, #intro p {
	margin-bottom: 1rem;
}
#intro button{
	color: white;
	font-weight:bold ;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
}
/*Margin vs Padding*/
/*Margin is best used when creating space elements*/
/*padding is best used when creating space between element's border and it's content*/

#succeed-info{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2%;
	padding-bottom: 3%;
}
#succeed-info h2 {
	margin-bottom: 2rem;
}
#succeed-info h3 {
	text-align: center;
	margin-bottom: 2rem;
}
.card{
	width: 30%;
	display: inline-block;
	vertical-align: top;
	margin-left: 0.5;
	margin-right: 0.5
}

footer {
	padding: 3rem;
}



footer span {
	margin-left: 0.5rem;
	margin-right:0.5rem;
}
#pre-footer {
	padding: 1rem;
	color: white;
	background-color:#002540 ;
}
.wid {
	width: 20%;
	display: inline-block;
	vertical-align: horizontal;
	margin-top: 0.3rem;
	margin-bottom: 0.3rem: 
}

