/*CSS 
syntax*/
/*A css rule set consist of a selector and a declaration block*/
/*Selector determines which element will the styling be applied to */

body {
	background-color: rgb(188,143,143);
}
#top {
	background-color: rgb(160,82,45);
}
a:hover {
	background-color:brown; }
div {
	display:inline-block;
	float:right;
}
/*type Selector - targets element with the specified type tag name*/
h1{/*{Declaration block*/
/*	color- property(the selected styling atribute to be modified in a given selector )*/
/*yellow-value(The modified  value of the selected syting attribute)*/
	color:rgb(10, 25,100);
}

/*Universal Selector (lowest priority) - targets all the elements */
*{
	font-family: "Oswald", monospace;
	font-size:25px;
	text-align: center;
}



/*id selector (highest priority) */
#zuitt-motto {
	letter-spacing: 15px ;
}
h3,h2 {
	letter-spacing: 5px !important;
}
/*class selector - targets elements according to it's class attribute*/




.offering-item {

	font-style: Arial,; font-size:50px;
	text-transform: uppercase;

}
/*attribute seletor targets element with a specified element attribute; used to target elements with a certain attribute*/
/*tagname [attribute]*/
input[required] {
	border-width: 10px; border-color: blue;border-spacing: 3px;border-style: solid;

}
/*!important -overide override the priority according to location and selector type.*/
/*specificity rule*/
/*the following order prioritizes styles from highest  to lowest priority(acording to selector)
1.ID selector
2.Class selector
3.Attribute selector
4.type selector
5.Universal Selector
*/

/*The following order prioritizes styles from highest to lowest priority(according sector)
1.Inline styling
2.Internal styling
3.External styling

*/
/*CSS combinators*/
/*adjacent sibling seletor (+)targets the element immedietly following another element, which must be it's sibling and located right after it in the HTML structure*/
/*selector + selector*/
h3 + img {
	height:100px;
	border-radius: 150px;
}
/*Decendant Selector (Whitespace( ))
targets any element that is decendant of another element*/
/*selector seletor*/
#bootcamp-learning-list li{
	color: rgb(0,191,255)
}

/*General sibling selector (~) targets all element that follows another element and share the same parent */
/*selector~selector*/
h2~a {
text-decoration: none;
}

/*Child selector (>)-targets all the elements that are the children of a specified element*/

/*selector > selector*/

 }
 section {
 	height: 100vh;
 	text-align: center;
 }



 ol {
 	list-style-type: none;
 }
form {
text-align: center;
background-color: green;
border:2px solid black;
height: 185px;
position: relative;
}
button
{
	background-color: red;
	color: white;
	border:0;
	border-radius: 15px;
