* {
	margin: 0;
	padding: 0;
	box-sizing: border-box; }

body {
	font-family: 'Open Sans', sans-serif; }

html {
	height: 400vh;

}
nav {
	
	position: sticky;
	 top: 0;
	 z-index: 100;
	 border: 1px solid black;
	 background-color: white;
	
}
.nav-logo {
	position: absolute;
	display: inline-block;
	margin-left: 200px;
	padding: 17px;
	
}	


.right-nav {
	padding: 5px;
	margin-right: 130px;
	text-align: right;	
	position: relative;

    }

.nav {
	display: inline-block;
	vertical-align: horizontal;
	padding: 16px;
	font-weight: 5px;
	font-size: 18px;

}	

.tuitt-button {
	color: white;
	font-size: 20;
	border: 1px solid black;
	background-color: #c2195b;
	padding: 10px;
	border-radius: 33px;
}


#bg-image {
	
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-size: 100%;
	background-position: 5px;
	min-width: 100vh;
	min-height: 50vh;
	background-repeat: no-repeat;
	z-index: 2;
}

.front-bg {
	background-color:rgba(0, 0, 0, .5);
	min-width: 100vh;
	min-height: 50vh;
	background-size: 100%;
	z-index: 1;

}

.container {
	margin-left: auto;
	text-align: right;
	margin-right: 8em;	
}

.title {
	width: 15em;
	text-align: right;
	color: white;
	font-size: 3em;
	margin-left: auto;
	
	font-family: 'Open Sans', sans-serif;
	font-family: 'Zilla Slab', serif;
	z-index: 3;
	
}



.subtitle {
	color: white;
	width: 30%;
	margin-left: auto;
	text-align: right;
	margin-top: 20px;
	padding: 10px;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Zilla Slab', serif;
	
}
.apply-button {
	color: white;
	border: 1px solid black;
	background-color: #c2195b;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 14px;
	padding-right: 14px;
	border-radius: 33px;
	display: inline-block;	
	font-size: 1.em;
}

.title-2 {
	margin-top: 5rem;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Zilla Slab', serif;
	text-align: center;

}
.pre-footer{
	background-color: #f7fbfb;
	text-align: center;
	margin: auto;
}	

.intro-description {
padding: 60px;
width: 65%;
margin: auto;
}
.prefooter-description {
	width: 65%;
	margin: auto;
	padding-bottom: 10px;
	padding-top: 120px ;
}

.book-button {
	color: white;
	border: 1px solid black;
	background-color: #336589;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 33px;
	display: inline-block;	
	font-size: 1.em;

	
}

footer {
	text-align: center;
	padding-top: 150px;

}
