#div1{
	background-color: green;
	display:inline ;
/*	we turn block elem. to inline*/
}

#span1 {
	background-color: purple;
	display: inline-block; /*we can adjust it size*/
	width: 200px; 
	height: 200px;
	display: none;
}
#span2 {
	background-color: pink;
	display: block;
/*	an inline can be displayed as block*/
}
#div2 {
	background-color: red;
	display: none
}

#img {
/*combination of inline and blocks = inline-block*/
	display:inline-block;
	width: 250px;
	height: 250px;
}

#p1{
	background-color: #87CEFA;
}
#p2 {
	background-color: rgb(255, 105, 108);
	width: 60%;
}
#p3 {
	background-color:  yellow;
	width: 40%;
}
.saple {
	display:inline-block;
	width: 30%;
	border: 2px solid black;
	text-align: center;
}
.img-float {
	width: 250px;
	height: 250px;
	float: right;

}
.box{
	background-color: red;
	border: 1px solid black;
	margin: 5px;
}

.fifty-percent {
	width:50%;
}
.one-hundred-pixels {
	width: 100px;
}

.parent {
	width: 135px;
	border: 2px solid navy; 
	font-size: 30px;
}
.fifty-vw{
width: 50vw;	
}
.twenty-five-vw{
	height: 25vh;
}
.one-rem{
	font-size: 1rem;
}
.two-rem{
	font-size: 2rem;
} 
.two-em{
	font-size: 2em;
}
.two-hundred-percent{
	font-size: 200%;
}

/* CSS Background properties */
.background {
	min-height: 100vh;
	background-color: gray;
	background-image: url(https://c4.wallpaperflare.com/wallpaper/43/1003/707/anime-your-name-kimi-no-na-wa-mitsuha-miyamizu-wallpaper-preview.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position:center top;
	background-attachment: fixed;
}	
.bg-title {
	color: white;
	text-align: center;
	font-size: 5cm;
	margin: 0;
	line-height: 40rem;
}
.container-bg{
	background-color: rgba(0, 0, 0, .5);
	min-height: 100vh;
}
.parent-element{
	background-color: skyblue;
	padding: 50px 10px;
	position: relative;
	height: 800vh;
}
.child-one{
	background-color: gray;
	padding: 10px;
}
.child-two{
	background-color: yellow;
	padding: 10px;
	position: sticky;	
	top: 10px;
	
}

.child3{
	background-color: gray;
	padding: 10px;
}
html {
	height:800vh;
}

/*Z index*/
.container {
	position: relative;
}
.black-box {
	position: relative;
	z-index: 1;
	border: 2px solid black;
	height: 100px;
	margin: 30px;
}
.gray-box{
	position:absolute;
	z-index: 3;
	background:lightgray;
	height: 60px;
	width: 70px;
	left: 50px;
	top: 50px;
}
.green-box {
	position: absolute;
	z-index: 2;
	background: lightseagreen;
	width: 35%;
	left: 270px;
	top: -15px;
	height: 100px;
}