
#external {
    color: yellow;
}

* {
    font-family: 'Verdana', sans-serif;
    font-size: 20px;
}

h1 {
    font-size: 3rem;
}

#sub-header {
    text-transform: uppercase;
}

.text-green {
    background-color: #aed19d;
}

li[class="border-blue"] {
    border: 2px solid rgb(157, 176, 209);
}

img + ul {
    list-style-type: none;
}


section img {
    height: 20vh;
    width: 20vh;
    border-radius: 100px;
}


ul ~ p {
    text-align: center;
}


section > ul > li {
    letter-spacing: 10px;
}
