#pe{
	color: 	rgb(189,183,107);
}

*{
	font-family: "Comic Sans Ms", monospace;
	font-size:25px;
	

	}
 h1 {
 	font-size: 50px;
 }
 #head{
 	text-transform: uppercase;
 }
 .list_background {
 	background-color:red;
 	
 }
 ol {
 
 border:2px;border:2px solid black;

 }
 img + ul {
 	list-style-type:number
 }
section img {
 	width: 60px;
 }
 ul~p {
 	text-align: center;
 }
 section > h4 {
 	letter-spacing: px;
 }